:root {
  --white: #f9faf8;
  --white-low: #e5e7eb;
  --blue: #3882f6;
  --blue-dark: #1f2937;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.nav,
.hero {
  background-color: var(--blue-dark);
  padding-left: 15%;
  padding-right: 15%;
}

.nav {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header {
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
}

.nav-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  column-gap: 24px;
}

.nav-list-item-link {
  text-decoration: none;
  color: var(--white-low);
  font-size: 18px;
}

.hero {
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  column-gap: 14px;
}

.hero-left,
.hero-right {
  flex: 1;
}

.hero-right {
  color: var(--white-low);
  background-color: #6d747d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-h1 {
  margin: 0;
  color: var(--white);
}

.hero-p {
  margin-top: 0;
  color: var(--white-low);
}

.hero-h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero-sign-up {
  color: var(--white);
  background-color: var(--blue);
  color: var(--white);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 32px;
  border: 0;
  border-radius: 8px;
}

.infos {
  padding: 50px 0 90px 0;
}

.infos-header {
  color: var(--blue-dark);
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-top: 0;
}

.infos-cards {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.infos-card {
  max-width: 150px;
}

.infos-card-img-container {
  height: 150px;
  border: 5px solid var(--blue);
  border-radius: 15px;
}

.infos-card-p {
  color: #606975;
}

.quote {
  background-color: var(--white-low);
  color: var(--blue-dark);
  padding: 50px 22%;
}

.quote-blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}

.quote-figcaption {
  font-size: 20px;
  font-weight: 700;
  text-align: end;
  margin-top: 12px;
}
